* {
    font-size: 60px;
    margin: 0;
}
*,
*:before, 
*:after {
    box-sizing: border-box;
}
#box1 {
    background-color: thistle;
    width: 300px;
    padding: 30px;
    border: 10px solid orange;
}

#box2 {
    background-color: tomato;
    width: 300px;
    padding: 30px;
    border: 10px solid green;
    box-sizing: border-box;
}

#parent {
    width: 300px;
    border: 10px solid red;
}

#child {
    width: 100%;
    border: 10px solid blueviolet;
    padding: 5px;
}